.contact-section {
    background: var(--background-color1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.contact-section-header h2 {
    font-size: 6.2rem;
    font-weight: bold;
    padding-bottom: 40px;
}
.contact-links {
    width: 80%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.contact-details {
    color: var(--text-color1);
    text-shadow: 2px 2px 1px #1f1f1f;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
}
.icon {
    margin-right: 10px;
    color: var(--background-color1);
}
.contact-details:hover {
    color: #fb8500;
    transform: translateY(-20px);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .contact-section-header h2 {
        text-align: center;
    }
    .contact-links {
        flex-direction: column;
        align-items: center;
    }
    .contact-details {
        margin: 15px;
    }
}