.projects-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0;
    background-color: var(--background-color3);
}
.projects-section-header {
    color: var(--texto-color4);
    font-size: 4rem;
    padding: 20px;
}
.grid-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px,400px));
    grid-gap: 40px;
    justify-content: center;
    padding: 25px 0;
}
.card-container {
    background-color: var(--background-color4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    border-radius: 5px;
}
.project-title {
    padding: 10px;
    color: var(--texto-color4);
    font-size: 2.2rem;
    font-weight: bolder;
}
.project-image {
    width: 100%;
    max-width: 400px;
    height: 250px;
    object-fit: cover;
    
}
.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;  
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 35px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn-primary {
    background-color: var(--background-color2);
}
.btn-primary a{
    color: #ffffff;
    font-weight: bold;
}
.btn-secundary {
    border: 2px solid #ffae00;
}
.btn-secundary a {
    color: white;
    font-weight: bold;
}
.code {
    color: #ffae00;
}
.card-container:hover .code{
    color: #ff6f00;
    transition: all 0.8s ease;
}
@media (max-width: 425px){
    .projects-section-header{
        font-size: 3rem;
    }
}
